# This is a white-list gitignore
#


# First, ignore everything
*
.*


# White-list

# gitignore
!/.gitignore

# CMake files
!/CMakeLists.txt
!/cmake/
!/cmake/*.cmake

# Documents
!/README.md
!/LICENSE
!/Acknowledgement.md
!/documents/
!/documents/Doxyfile.in

# Source code
!/source/
!/source/*.hpp
!/source/*.cpp
!/source/template/
!/source/template/*.hpp.in
!/source/template/*.cpp.in
!/source/template/*.cl.in
!/source/zinvul/
!/source/zinvul/*.dox
!/source/zinvul/*.cmake
!/source/zinvul/zinvul/
!/source/zinvul/zinvul/*.hpp
!/source/zinvul/zinvul/*.hpp.in
!/source/zinvul/zinvul/*.cpp
# Dependencies
!/source/dependencies/
!/source/dependencies/zisc
!/source/dependencies/VulkanMemoryAllocator

# Test
!/test/
!/test/config.cmake
!/test/googletest
!/test/kernels/
!/test/kernels/work_item/
!/test/kernels/work_item/*.cl
!/test/kernels/math/
!/test/kernels/math/*.cl
!/test/unittest/
!/test/unittest/*.hpp
!/test/unittest/*.cpp

# Build directories
!/build/
!/build/.gitkeep
