# This is a white-list gitignore
#


# First, ignore everything
*
.*


# White-list

# gitignore
!/.gitignore

# Documents
!/README.md
!/LICENSE.txt
!/Acknowledgement.md
!/document/
!/document/CMakeLists.txt

# Project cmake file
!/CMakeLists.txt
!/cmake/
!/cmake/*.cmake

# Source code
!/source/
!/source/zinvul/
!/source/zinvul/CMakeLists.txt
!/source/zinvul/*.dox
!/source/zinvul/python/
!/source/zinvul/python/*.py
!/source/zinvul/template/
!/source/zinvul/template/*.hpp.in
!/source/zinvul/template/*.cpp.in
!/source/zinvul/template/*.cl.in
!/source/zinvul/template/*.cmake.in
!/source/zinvul/zinvul/
!/source/zinvul/zinvul/*.hpp
!/source/zinvul/zinvul/*.hpp.in
!/source/zinvul/zinvul/*.cpp
!/source/zinvul/zinvul/cl/
!/source/zinvul/zinvul/cl/*.cl
!/source/zinvul/zinvul/cppcl/
!/source/zinvul/zinvul/cppcl/*.hpp
!/source/zinvul/zinvul/cppcl/*.cpp
!/source/zinvul/zinvul/cpu/
!/source/zinvul/zinvul/cpu/*.hpp
!/source/zinvul/zinvul/cpu/*.cpp
!/source/zinvul/zinvul/utility/
!/source/zinvul/zinvul/utility/*.hpp
!/source/zinvul/zinvul/utility/*.cpp
!/source/zinvul/zinvul/vulkan/
!/source/zinvul/zinvul/vulkan/*.hpp
!/source/zinvul/zinvul/vulkan/*.cpp
!/source/zinvul/zinvul/vulkan/utility/
!/source/zinvul/zinvul/vulkan/utility/*.hpp
!/source/zinvul/zinvul/vulkan/utility/*.cpp
# Zinvul cmake file
!/source/zinvul/cmake/
!/source/zinvul/cmake/*.cmake
!/source/zinvul/cmake/*.gitkeep
# Dependencies
!/source/dependencies/
!/source/dependencies/cpu_features
!/source/dependencies/clspv
!/source/dependencies/VulkanMemoryAllocator
!/source/dependencies/zisc

# Test
!/test/
!/test/config.cmake
!/test/googletest
!/test/kernels/
!/test/kernels/data/
!/test/kernels/data/*.cl
!/test/kernels/vector/
!/test/kernels/vector/*.cl
!/test/kernels/work_item/
!/test/kernels/work_item/*.cl
!/test/kernels/atomic/
!/test/kernels/atomic/*.cl
!/test/kernels/vector_data/
!/test/kernels/vector_data/*.cl
!/test/kernels/relational/
!/test/kernels/relational/*.cl
!/test/kernels/algorithm/
!/test/kernels/algorithm/*.cl
!/test/kernels/geometric/
!/test/kernels/geometric/*.cl
!/test/kernels/math/
!/test/kernels/math/*.cl
!/test/kernels/matrix/
!/test/kernels/matrix/*.cl
!/test/kernels/rng/
!/test/kernels/rng/*.cl
!/test/kernels/experiment/
!/test/kernels/experiment/*.cl
!/test/unittest/
!/test/unittest/*.hpp
!/test/unittest/*.cpp
!/test/scripts/
!/test/scripts/*.sh
!/test/scripts/*.cmd

# Example
!/example/
!/example/CMakeLists.txt
!/example/*.cpp
!/example/kernels/
!/example/kernels/*.cl

# Build directories
!/build/
!/build/.gitkeep
